<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="com.github.tobato.fastdfs" level="error" />
        <logger name="org.springframework" level="error" />
        <logger name="RocketmqClient" level="error" />
        <logger name="RocketmqRemoting" level="error" />
        <logger name="com.netflix" level="error" />
        <logger name="com.netflix" level="error" />
        <logger name="org.hibernate" level="error" />
        <logger name="org.mongodb" level="error" />
        <logger name="org.apache.http" level="error" />
	</Loggers>
</Configuration>